<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="../public/ejs.min.js"></script>
  <script src="./renderer.js"></script>
  <link rel="stylesheet" href="./app.css">
</head>

<body id="root">
  <%- include('./views/MenuBar'); -%>
  <%- include('./views/Menu'); -%>
  <%- include('./views/LeftBar'); -%>
  <%- include('./views/RightBar'); -%>
  <%- include('./views/Main'); -%>
</body>

</html>